<!DOCTYPE html>
<html lang="en" xmlns="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" href="css/board_default.css">
<link rel="stylesheet" href="css/board_style.css">

</head>
<body>

	<div class="wrapper_content">
        <div class="content">

            <div class="content_title">
                <br><br>
                <h2>게시판</h2>
            </div>

            
            <div id="iboard-document">
                <div id="iboard-default-document">
                    
                    <div class="iboard-document-wrap">
                    
                        <div class="iboard-title">
                            <h1 th:text="${board.subject}">제목</h1>
                        </div>
                        
                        <div class="iboard-detail">
                            <div class="detail-attr detail-writer">
                                <div class="detail-name">번호</div>
                                <div class="detail-value" th:text="${board.no}">10</div>
                            </div>
                            <div class="detail-attr detail-writer">
                                <div class="detail-name">작성자</div>
                                <div class="detail-value" th:text="${board.writer}">admin</div>
                            </div>
                            <div class="detail-attr detail-date">
                                <div class="detail-name">작성일</div>
                                <div class="detail-value" th:text="${board.regdate}">2020.10.20</div>
                            </div>
                            <div class="detail-attr detail-view">
                                <div class="detail-name">조회수</div>
                                <div class="detail-value" th:text="${board.hit}">100</div>
                            </div>
                        </div>
                        
                        <div class="iboard-content">
                            <div class="content-view">
	                            <p th:text="${board.content}">내용입니다</p>
                            </div>
                        </div>
                        
                        <!-- 이전 또는 다음 게시물 -->
                        <div class="iboard-document-action">
                            <div class="left">
                            <button>이전글</button>
                            <button>다음글</button>
                            </div>
                            
                            <div class="right">
								<button type="button" th:onclick="modBoard([[${board.no}]]);">수정</button>
                            	<!--<button type="button" onclick="modBoard(1000);">수정</button>-->
                            	<button type="button" th:onclick="delBoard([[${board.no}]]);">삭제</button>
                            	<!--<button type="button" onclick="delBoard(1);">삭제</button>-->
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
			
			
            <div id="iboard-default-list">
                <div class="iboard-list-header">
                
                <div class="iboard-total-count">전체 20</div>
            
                <div class="iboard-sort">
                    <form id="iboard-sort-form-1" method="GET" action="noticelist.jsp">
                        <select id="iboard_list_sort" name="iboard_list_sort" onchange="sort();">
                        <option value="" selected="selected">정렬선택</option>
                        <option value="no">최신순</option>
                        <option value="votes">추천순</option>
                        <option value="views">조회순</option>	
                        </select>
                    </form>
                </div>
            </div>
            
            <div class="iboard-list">
            
                <table>
                    <thead>
                        <tr>
                            <td class="iboard-list-uid">번호</td>
                            <td class="iboard-list-title">제목</td>
                            <td class="iboard-list-user">작성자</td>
                            <td class="iboard-list-date">작성일</td>
                            <td class="iboard-list-vote">추천</td>
                            <td class="iboard-list-view">조회</td>
                        </tr>
                    </thead>	

                    <tbody>

                        <tr class="">
                            <td class="iboard-list-uid">10</td>
                            <td class="iboard-list-title">코로나 백신 개발 3차 임상 실험 완료</td>
                            <td class="iboard-list-user">admin</td>
                            <td class="iboard-list-date">2020.12.20</td>
                            <td class="iboard-list-vote">100</td>
                            <td class="iboard-list-view">1000</td>
                        </tr>

                        <tr class="">
                            <td class="iboard-list-uid">9</td>
                            <td class="iboard-list-title">코로나 백신 개발 3차 임상 실험 완료</td>
                            <td class="iboard-list-user">admin</td>
                            <td class="iboard-list-date">2020.12.20</td>
                            <td class="iboard-list-vote">100</td>
                            <td class="iboard-list-view">1000</td>
                        </tr>

                        <tr class="">
                            <td class="iboard-list-uid">8</td>
                            <td class="iboard-list-title">코로나 백신 개발 3차 임상 실험 완료</td>
                            <td class="iboard-list-user">admin</td>
                            <td class="iboard-list-date">2020.12.20</td>
                            <td class="iboard-list-vote">100</td>
                            <td class="iboard-list-view">1000</td>
                        </tr>

                        <tr class="">
                            <td class="iboard-list-uid">7</td>
                            <td class="iboard-list-title">코로나 백신 개발 3차 임상 실험 완료</td>
                            <td class="iboard-list-user">admin</td>
                            <td class="iboard-list-date">2020.12.20</td>
                            <td class="iboard-list-vote">100</td>
                            <td class="iboard-list-view">1000</td>
                        </tr>

                        <tr class="">
                            <td class="iboard-list-uid">6</td>
                            <td class="iboard-list-title">코로나 백신 개발 3차 임상 실험 완료</td>
                            <td class="iboard-list-user">admin</td>
                            <td class="iboard-list-date">2020.12.20</td>
                            <td class="iboard-list-vote">100</td>
                            <td class="iboard-list-view">1000</td>
                        </tr>

                        <tr class="">
                            <td class="iboard-list-uid">5</td>
                            <td class="iboard-list-title">코로나 백신 개발 3차 임상 실험 완료</td>
                            <td class="iboard-list-user">admin</td>
                            <td class="iboard-list-date">2020.12.20</td>
                            <td class="iboard-list-vote">100</td>
                            <td class="iboard-list-view">1000</td>
                        </tr>

                        <tr class="">
                            <td class="iboard-list-uid">4</td>
                            <td class="iboard-list-title">코로나 백신 개발 3차 임상 실험 완료</td>
                            <td class="iboard-list-user">admin</td>
                            <td class="iboard-list-date">2020.12.20</td>
                            <td class="iboard-list-vote">100</td>
                            <td class="iboard-list-view">1000</td>
                        </tr>

                        <tr class="">
                            <td class="iboard-list-uid">3</td>
                            <td class="iboard-list-title">코로나 백신 개발 3차 임상 실험 완료</td>
                            <td class="iboard-list-user">admin</td>
                            <td class="iboard-list-date">2020.12.20</td>
                            <td class="iboard-list-vote">100</td>
                            <td class="iboard-list-view">1000</td>
                        </tr>

                        <tr class="">
                            <td class="iboard-list-uid">2</td>
                            <td class="iboard-list-title">코로나 백신 개발 3차 임상 실험 완료</td>
                            <td class="iboard-list-user">admin</td>
                            <td class="iboard-list-date">2020.12.20</td>
                            <td class="iboard-list-vote">100</td>
                            <td class="iboard-list-view">1000</td>
                        </tr>

                        <tr class="">
                            <td class="iboard-list-uid">1</td>
                            <td class="iboard-list-title">코로나 백신 개발 3차 임상 실험 완료</td>
                            <td class="iboard-list-user">admin</td>
                            <td class="iboard-list-date">2020.12.20</td>
                            <td class="iboard-list-vote">100</td>
                            <td class="iboard-list-view">1000</td>
                        </tr>

                    </tbody>
                </table>
        
            </div>     
            
            <div class="iboard-pagination">
                <ul class="iboard-pagination-pages">
                    <li class="active"><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li class="next-page"><a href="">>></a></li>
                    <li class="last-page"><a here="">마지막</a></li>
                </ul>
            </div>
            
            <div class="iboard-search">
                <form id="iboard-search-form-1" method="GET" action="noticelist.jsp">
                    <select name="target">
                        <option value="">전체</option>
                        <option value="title">제목</option>
                        <option value="contents">내용</option>
                        <option value="write_name">작성자</option>
                    </select>
                    <input type="text" id="keyword" name="keyword" value="">
                    <button type="button" class="iboard-default-button-small" onclick="search();">검색</button>
                </form>
            </div>
            
            <!-- 관리자 글쓰기 -->
            <div class="iboard-document-action">
                <div class="left">
                </div>
                
                <div class="right">
                <button type="button" onclick="location.href='noticewrite.jsp'">글쓰기</button></div>
            </div>

        </div>    
    </div>
    
    <script src="/js/jquery-3.7.0.min.js"></script>
    <script>
		function delBoard(no) {
			
			//alert(no);
			
			ok = confirm("해당글을 삭제하시겠습니까?", "삭제학인");
			
			//alert(ok); // true면 삭제진행
			
			if(ok) {
				location.href="delete?no="+no;
			}
		}
		
		function modBoard(no) {
			
			alert(no);
		}
	</script>

</body>
</html>