<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.human.mapper.BoardMapper">

	<!-- 글목록 -->
	<select id="selectBoardList" resultType="com.human.domain.Board">
		SELECT no, subject, writer, 
		TO_CHAR(regdate, 'yyyy.MM.dd') as regdate, hit
		FROM bo_notice
		ORDER BY no DESC 	
	</select>
	
	<!-- 글총갯수 -->
	<select id="selectTotalBoard" resultType="int">
			SELECT COUNT(*) FROM BO_NOTICE	
	</select>
	
	<!-- 글읽기 -->
	<select id="selectBoardOne" resultType="com.human.domain.Board">
		SELECT * FROM bo_notice
		WHERE no = #{no}
	</select>
	
	<!-- 조회수 업데이트 증가 -->
	<update id="updateBoardHit">
		UPDATE BO_NOTICE SET hit=hit+1
		WHERE no=#{no}
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="deleteBoardOne">
		DELETE FROM bo_notice
		WHERE no=#{no}
	</delete>
	
	
	<!-- 게시글 입력 -->
	<insert id="insertBoard">
		INSERT INTO bo_notice
		(no, groupno, id, writer, subject, content) 
		VALUES 
		(BO_NOTICE_SEQ.NEXTVAL, BO_NOTICE_SEQ.CURRVAL, 'admin', #{writer}, #{subject}, #{content})		
	</insert>
	


</mapper>    