<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.human.mapper.ManagerMapper">

	<select id="totalManager" resultType="int">
		SELECT COUNT(*) FROM MANAGER 
	</select>
	
	<select id="managerList" resultType="com.human.domain.Manager">
		SELECT id, pwd, name, phone FROM MANAGER
	</select>
	
	<select id="managerSelect" resultType="com.human.domain.Manager">
		SELECT id, pwd, name, phone FROM MANAGER WHERE id=#{id}
	</select>
	
	<insert id="insertManagerOne">
		INSERT INTO MANAGER VALUES (#{id}, #{pwd}, #{name}, #{phone})
	</insert>

</mapper>    