/* board list */
#iboard-default-list .iboard-list-header { float: left; display: table; margin: 0; width: 100%; }
#iboard-default-list .iboard-list-header .iboard-total-count { float: left; display:table-cell; font-size: 13px; }
#iboard-default-list .iboard-list-header .iboard-sort { float: right; display:table-cell; text-align: right; }
#iboard-default-list .iboard-list-header .iboard-sort select {
	display: inline; margin: 0; padding: 0; width: auto; height: 26px; line-height: 26px;
	font-size: 12px; color: #666666; border: 1px solid #f1f1f1; 
}

#iboard-default-list {	display: inline-block;	margin: 0;	width: 100%; }
#iboard-default-list .iboard-list {	float: left; width: 100%; background-color: white; }
#iboard-default-list .iboard-list table { display: table; table-layout: fixed; margin: 0; padding: 0; width: 100%; border: 0; font-size: 13px; border-collapse: collapse; }
#iboard-default-list .iboard-list table a { color: black; font-weight: normal; text-decoration: none; border: 0; box-shadow: none; font-size: 13px; }
#iboard-default-list .iboard-list table tr { border: 0; background-color: transparent; transition-duration: 0.3s; }
#iboard-default-list .iboard-list table td { padding: 10px 0; height: auto; text-align: center; vertical-align: middle; font-size: 13px; }
#iboard-default-list .iboard-list table td.iboard-list-uid { width: 72px; }
#iboard-default-list .iboard-list table td.iboard-list-title { width: auto; }
#iboard-default-list .iboard-list table td.iboard-list-user { width: 80px; }
#iboard-default-list .iboard-list table td.iboard-list-date { width: 75px; }
#iboard-default-list .iboard-list table td.iboard-list-vote { width: 55px; }
#iboard-default-list .iboard-list table td.iboard-list-view { width: 55px; }
#iboard-default-list .iboard-list thead { background-color: transparent; }
#iboard-default-list .iboard-list thead tr td { font-weight: bold; color: #545861; border: 0; border-bottom: 2px solid #f1f1f1; }
#iboard-default-list .iboard-list tbody tr td { word-break: break-all; border: 0; border-bottom: 1px solid #f1f1f1; }
#iboard-default-list .iboard-list tbody tr:hover { background-color: #f7f7f7; }
#iboard-default-list .iboard-list tbody tr.iboard-list-notice { background-color: #f4f4f4; }
#iboard-default-list .iboard-list tbody tr.iboard-list-selected .iboard-default-cut-strings { font-weight: bold; }
#iboard-default-list .iboard-list tbody td.iboard-list-title { text-align: left; }
#iboard-default-list .iboard-list tbody td.iboard-list-title img { display: inline; margin: 0; width: auto; height: auto; vertical-align: middle; max-width: 100%; }
#iboard-default-list .iboard-list tbody td.iboard-list-title .iboard-comments-count { color: #00a8e7; }
#iboard-default-list .iboard-list tbody td.iboard-list-user img.avatar { display: inline; margin: 0; width: 24px; max-width: none; height: 24px; vertical-align: middle; border-radius: 50%; }

#iboard-default-list .iboard-pagination { float: left; padding: 15px 0; width: 100%; }
#iboard-default-list .iboard-pagination .iboard-pagination-pages { float: left; margin: 0; padding: 0; width: 100%; list-style: none; text-align: center; border: 0; }
#iboard-default-list .iboard-pagination .iboard-pagination-pages li { display: inline-block; zoom: 1; margin: 0; padding: 0 1px; background: none; border: 0; list-style: none; }
#iboard-default-list .iboard-pagination .iboard-pagination-pages li a { display: block; margin: 0; padding: 0 11px; height: 28px; line-height: 28px; font-size: 13px; color: #999999; text-decoration: none; border: 0; background-color: #f9f9f9; box-shadow: none; transition-duration: 0.3s; }
#iboard-default-list .iboard-pagination .iboard-pagination-pages li:hover a,
#iboard-default-list .iboard-pagination .iboard-pagination-pages li.active a { border: 0; color: #545861; background-color: #eaeaea; }
#iboard-default-list .iboard-pagination .iboard-pagination-pages li:before { display: none; }
#iboard-default-list .iboard-pagination .iboard-pagination-pages li:after { display: none; }
#iboard-default-list .iboard-search { float: left; padding-bottom: 15px; width: 100%; text-align: center; }
#iboard-default-list .iboard-search select { display: inline; margin: 0; padding: 0 5px; width: 100px; min-width: 0; max-width: 100px; height: 26px; min-height: 0; font-size: 13px; color: #666666; border-radius: 0; border: 1px solid #f1f1f1; background: none; background-color: white; line-height: 26px; vertical-align: middle; box-shadow: none; box-sizing: content-box; -webkit-appearance: menulist; -moz-appearance: menulist; appearance: menulist; }
#iboard-default-list .iboard-search input { display: inline; margin: 0; padding: 0 5px; width: 200px; min-width: 0; max-width: 200px; height: 26px; min-height: 0; font-size: 13px; color: #666666; border-radius: 0; border: 1px solid #f1f1f1; background: none; background-color: white; line-height: 26px; vertical-align: middle; box-shadow: none; box-sizing: content-box; }
#iboard-default-list .iboard-control { float: left; padding-bottom: 15px; width: 100%; text-align: right; }

/* board document */
#iboard-default-document { display: inline-block; width:100%; }
#iboard-default-document .iboard-document-wrap {float: left; width: 100%; background-color: white; }
#iboard-default-document .iboard-title { float: left; width: 100%; }
#iboard-default-document .iboard-title h1 { margin: 0; padding: 12px 22px; color: #545861; font-weight: bold; font-size: 22px; line-height: 30px; text-align: left; }
#iboard-default-document .iboard-detail { clear: both; float: left; width: 100%; border-top: 1px solid #f1f1f1; border-bottom: 1px solid #f1f1f1; background-color: #f9f9f9; font-size: 13px; }
#iboard-default-document .iboard-detail .detail-attr { display: inline-block; zoom: 1; margin: 0; padding: 12px 35px 12px 22px; }
#iboard-default-document .iboard-detail .detail-attr .detail-name { float: left; font-weight: bold; color: #545861; text-align: right; }
#iboard-default-document .iboard-detail .detail-attr .detail-value { float: left; padding-left: 20px; color: #545861; }
#iboard-default-document .iboard-detail .detail-attr .detail-value a { color: #545861; text-decoration: none; border: 0; box-shadow: none; }
#iboard-default-document .iboard-detail .detail-attr .detail-value img.avatar { display: inline; margin: 0; width: 24px; max-width: none; height: 24px; vertical-align: middle; border-radius: 50%; }
#iboard-default-document .iboard-content { clear: both; float: left; width: 100%; /* min-height: 200px; */ margin-bottom: 20px; }
#iboard-default-document .iboard-content .content-view { margin: 0; padding: 22px; word-break: break-all; }
#iboard-default-document .iboard-content .content-view iframe { max-width: 100%; }
#iboard-default-document .iboard-content .content-view img { display: inline; margin: 0; vertical-align: middle; max-width: 100%; }
#iboard-default-document .iboard-content .content-view hr { margin: 10px 0; padding: 0; height: 1px; border: 0; background-color: #f1f1f1; }
#iboard-default-document .iboard-content .content-view ul { margin: 0.75em 0; }
#iboard-default-document .iboard-content .content-view ol { margin: 0.75em 0; }
#iboard-default-document .iboard-content .content-view p { margin: 0 0 0.75em; }
#iboard-default-document .iboard-content .content-view p:last-child { margin: 0; }
#iboard-default-document .iboard-content .content-view .thumbnail-area { text-align: center; }
#iboard-default-document .iboard-content .content-view .aligncenter { display: block; margin-right: auto; margin-left: auto; }
#iboard-default-document .iboard-content .content-view .alignright { float:right; }
#iboard-default-document .iboard-content .content-view .alignleft { float: left; }
#iboard-default-document .iboard-document-action { padding: 0 22px 5px 22px; overflow: hidden; line-height: 1; margin-bottom: 20px; }
#iboard-default-document .iboard-document-action .left { position: static; float: left; }
#iboard-default-document .iboard-document-action .right { position: static; float: right; text-align: right; }
#iboard-default-document .iboard-attach { clear: both; margin: 0 22px; padding: 10px 0 5px 0; font-size: 12px; overflow: hidden; line-height: 1; border-top: 1px dashed #ededed; }
#iboard-default-document .iboard-button-action { margin: 0 0 5px 0; padding: 4px 5px; font-size: 12px; font-weight: normal; line-height: 12px; text-align: left; border: 1px solid #ededed; background: none; background-color: white; border-radius: 2px; letter-spacing: normal; cursor: pointer; vertical-align: middle; text-shadow: none; box-shadow: none; }
#iboard-default-document .iboard-button-action span { position: static; display: inline; margin: 0; padding: 0; font-size: 12px; line-height: 12px; }
#iboard-default-document .iboard-button-like { color: #ff5959; }
#iboard-default-document .iboard-button-unlike { color: #3d62aa; }
#iboard-default-document .iboard-button-print { color: gray; }
#iboard-default-document .iboard-button-download { color: gray; }
#iboard-default-document .iboard-comments-area { float: left; width: 100%; }
#iboard-default-document .iboard-document-navi { float: left; padding-top: 15px; width: 100%; }
#iboard-default-document .iboard-document-navi a { display: block; text-decoration: none; border: 0; font-size: 13px; line-height: 20px; box-shadow: none; color: #545861; transition-duration: .3s; }
#iboard-default-document .iboard-document-navi .navi-document-title { display: block; }
#iboard-default-document .iboard-document-navi .navi-arrow { position: absolute; display: block; }
#iboard-default-document .iboard-document-navi .iboard-prev-document { position: relative; float: left; width: 45%; }
#iboard-default-document .iboard-document-navi .iboard-prev-document .navi-document-title { padding-left: 15px; }
#iboard-default-document .iboard-document-navi .iboard-prev-document .navi-arrow { left: 0; top: 0; }
#iboard-default-document .iboard-document-navi .iboard-prev-document:hover a { color: black; }
#iboard-default-document .iboard-document-navi .iboard-next-document { position: relative; float: right; width: 45%; text-align: right; }
#iboard-default-document .iboard-document-navi .iboard-next-document .navi-document-title { padding-right: 15px; }
#iboard-default-document .iboard-document-navi .iboard-next-document .navi-arrow { right: 0; top: 0; }
#iboard-default-document .iboard-document-navi .iboard-next-document:hover a { color: black; }
#iboard-default-document .iboard-control { float: left; padding: 15px 0;  width: 100%; }
#iboard-default-document .iboard-control .left { position: static; float: left; }
#iboard-default-document .iboard-control .right { position: static; float: right; text-align: right; } 

/* 글쓰기 */
#iboard-thumbnail-editor { overflow: hidden;}
#iboard-thumbnail-editor form { margin: 0; padding: 0; }
#iboard-thumbnail-editor select { display: inline; margin: 0; padding: 0 5px; font-size: 14px; width: 30%; height: 28px; line-height: 28px; color: #666666; border-radius: 0; border: 0; border-bottom: 1px solid #dcdcdc; box-shadow: none; background: none; background-color: transparent; box-sizing: content-box; vertical-align: middle; text-indent: 0; -webkit-appearance: menulist; -moz-appearance: menulist; appearance: menulist; }
#iboard-thumbnail-editor input[type=text],
#iboard-thumbnail-editor input[type=email],
#iboard-thumbnail-editor input[type=number],
#iboard-thumbnail-editor input[type=date],
#iboard-thumbnail-editor input[type=password] { display: inline; margin: 0; padding: 0 5px; width: 30%; height: 28px; line-height: 28px; font-size: 14px; color: #666666; border-radius: 0; border: 0; border-bottom: 1px solid #dcdcdc; box-shadow: none; background: none; background-color: transparent; box-sizing: content-box; vertical-align: middle; }
#iboard-thumbnail-editor input[type=checkbox] { width: auto; -webkit-appearance: checkbox; -moz-appearance: checkbox; appearance: checkbox; }
#iboard-thumbnail-editor input[type=radio] { width: auto; -webkit-appearance: radio; -moz-appearance: radio; appearance: radio; }
#iboard-thumbnail-editor select:hover,
#iboard-thumbnail-editor input[type=text]:hover,
#iboard-thumbnail-editor input[type=email]:hover,
#iboard-thumbnail-editor input[type=number]:hover,
#iboard-thumbnail-editor input[type=date]:hover,
#iboard-thumbnail-editor input[type=password]:hover { border-bottom: 1px solid #9e9e9e; }
#iboard-thumbnail-editor select:focus,
#iboard-thumbnail-editor input[type=text]:focus,
#iboard-thumbnail-editor input[type=email]:focus,
#iboard-thumbnail-editor input[type=number]:focus,
#iboard-thumbnail-editor input[type=date]:focus,
#iboard-thumbnail-editor input[type=password]:focus { border-bottom: 2px solid #9e9e9e; }
#iboard-thumbnail-editor input[type=file] { display: inline; margin: 0; padding: 0; width: 30%; font-size: 13px; color: #666666; border-radius: 0; border: 0; box-shadow: none; background-color: transparent; }
#iboard-thumbnail-editor .iboard-attr-title input { width: 70%; }
#iboard-thumbnail-editor .iboard-attr-row { float: left; padding: 5px 0; width: 100%; background-color: white; }
#iboard-thumbnail-editor .iboard-attr-row .attr-name { display: inline; float: left; margin: 0; padding: 0 10px 0 10px; width: 120px; line-height: 32px; color: #545861; font-size: 14px; font-weight: bold; }
#iboard-thumbnail-editor .iboard-attr-row .attr-name img { display: inline; margin: 0; padding: 0; width: auto; max-width: 100%; vertical-align: middle; }
#iboard-thumbnail-editor .iboard-attr-row .attr-name .attr-required-text { color: red; font-weight: normal; font-size: 13px; }
#iboard-thumbnail-editor .iboard-attr-row.iboard-attr-content .attr-name { display: none; }
#iboard-thumbnail-editor .iboard-attr-row .attr-value { margin: 0 0 0 140px; padding: 0; line-height: 32px; font-size: 14px; }
#iboard-thumbnail-editor .iboard-attr-row .attr-value .attr-value-option { display: inline; padding-right: 20px; width: auto; font-size: 14px; cursor: pointer; }
#iboard-thumbnail-editor .iboard-attr-row .attr-value .attr-value-option input { cursor: pointer; }
#iboard-thumbnail-editor .iboard-attr-row .attr-value .attr-value-label { display: inline; padding-right: 10px; width: auto; cursor: pointer; }
#iboard-thumbnail-editor .iboard-attr-row .attr-value .attr-value-label input { cursor: pointer; }
#iboard-thumbnail-editor .iboard-attr-row .attr-value .description { margin: 0; color: #666666; }
#iboard-thumbnail-editor .iboard-attr-row .attr-value .iboard-tree-category-wrap { overflow: hidden; }
#iboard-thumbnail-editor .iboard-attr-row .attr-value .iboard-tree-category-wrap select { clear: both; float: left; margin-bottom: 5px; width: 30%; }
#iboard-thumbnail-editor .iboard-content { float: left; margin: 0; padding: 9px 0; width: 100%; background-color: white; }
#iboard-thumbnail-editor .iboard-content .editor-textarea { display: inline; margin: 0; padding: 5px; width: 100%; min-width: 100%; max-width: 100%; height: 150px; min-height: 0; font-size: 14px; border: 1px solid #dcdcdc; box-shadow: none; background: none; background-color: transparent; box-sizing: border-box; text-indent: 0; }
#iboard-thumbnail-editor .iboard-control { float: left; padding: 15px 0; width: 100%; }
#iboard-thumbnail-editor .iboard-control .left { position: static; float: left; }
#iboard-thumbnail-editor .iboard-control .right { position: static; float: right; width: 50%; text-align: right; }
#iboard-thumbnail-editor.confirm { margin: 100px auto; max-width: 590px; }
#iboard-thumbnail-editor.confirm input[type=password] { width: 100%; box-sizing: border-box; }
#iboard-thumbnail-editor select,
#iboard-thumbnail-editor input[type=text],
#iboard-thumbnail-editor input[type=email],
#iboard-thumbnail-editor input[type=number],
#iboard-thumbnail-editor input[type=date],
#iboard-thumbnail-editor input[type=password],
#iboard-thumbnail-editor input[type=file] { width: 100% !important; box-sizing: border-box; }
#iboard-thumbnail-editor .iboard-attr-row { padding: 10px 0; }

#iboard-thumbnail-editor.confirm { max-width: none; }